<!DOCTYPE html>
<html>

<head>
    <title>Edit Product</title>
</head>

<body>

    <h1>Edit Product</h1>

    <form 
        action="/admin/edit/<%= product._id %>?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
    >

        <input 
            type="text" 
            name="name"
            value="<%= product.name %>"
            required
        >

        <input 
            type="number"
            name="price"
            value="<%= product.price %>"
            required
        >

        <input 
            type="text"
            name="category"
            value="<%= product.category %>"
            required
        >

        <input 
            type="number"
            name="rating"
            value="<%= product.rating %>"
            required
        >

        <input 
            type="number"
            name="stock"
            value="<%= product.stock %>"
            required
        >

        <input type="file" name="image">

        <button type="submit">
            Update Product
        </button>

    </form>

</body>

</html>